/********** Responsive for max-width: 290px ***********/

@media only screen and (max-width:290px) {


  .main {
    display: block;
  }

  /************** side-navbar ***************/

  .side-nav {
    height: 634px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px) saturate(150%);
    z-index: 999;
    transition: all .8s;
    margin-left: -400px;
  }

  .sub-icon {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
    padding: 0.25rem 0.3rem;

  }

  div.next>ul {
    padding-left: 1.25rem;
  }

  ul li {
    padding: 0.2rem 0.6rem;
  }

  .copyright {
    font-size: 0.75rem;
    padding-top: 1.25rem;
    margin-top: 0px;
  }

  .mobile-menu {
    margin-left: 0px;
  }

  /******************* mobile-nave  *******************/

  .mobile-nav {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: rgb(61, 144, 223);
    padding: 0.35rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    outline: none;
    color: white;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 999;
  }

  /********** land page  *************/

  .land-page {
    height: 400px;
    width: 100%;
  }

  .das {
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-top: 1.6rem;
  }

  .design {
    font-size: 1rem;
    margin-left: 2rem;
    margin-top: 0px;
  }

    /**************** up-arrow ***************/

.up-arrow {
  height: 2rem;
  width: 2rem;
}

#arrow {
  font-size: 1rem;
  color: white;
  padding: 0.5rem;
}

  /************** about section ***************/

  .about {
    width: 100%;
    margin-top: 450px;
    margin-left: 0px;
  }

  .head {
    font-size: 2rem;
  }

  .samrat {
    padding: 0.6rem 1.25rem;
  }

  .leftpic {
    height: 19rem;
    width: 100%;
    margin: 0px;
  }

  .about-under {
    display: block;
  }

  .about-under-left {
    height: auto;
    width: fit-content;
    margin-right: 0px;
  }

  .about-under-right {
    display: block;
    padding: 0px 0.6rem;

  }

  .about-under-right1 {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }

  .about-under-right2 {
    margin: 2rem 0px;
  }

  .span-left {
    font-size: 0.9rem;
  }
  
  .span-right {
    font-size: 0.9rem;
  }
  
  .greater-than {
    height: 0.5rem;
    width: 0.5rem;
  }

  /********** skill section  *************/

  .skill {
    width: 100%;
    margin-left: 0px;
    padding: 2rem 0px;
  }

  .skill-under {
    display: block;
    padding: 0px;
  }

  .skill-under-next {
    padding: 0px 2.5rem;
  }

  .right-under-text {
    padding-top: 1.25rem;

  }

  /************** resume section ****************/

  .resume {
    width: 100%;
    margin-left: 0px;
  }

  .resume-under {
    display: block;
  }

  .resume-under-left {
    width: 100%;
    margin-left: 0px;
  }

  .resume-under-right {
    width: 100%;
    margin-left: 0px;
  }

  .resume-under-next {
    padding: 1.25rem;
    margin-left: 0px;
  }

  .resume-text {
    font-size: 1.25rem;
    text-align: center;
  }

  .resume-text-next {
    width: 100%;
    padding-left: 0.6rem;
    margin-left: 0px;
  }

  .qualification {
    font-size: 1rem;
  }

  .qualification-btn {
    height: 1.5rem;
    width: 6.25rem;
    padding: 2px 0.6rem;
    font-size: 0.9rem;
  }

  /*************** project section  *******************/

  .project {
    width: 100%;
    margin-left: 0px;
  }

  .project-under {
    display: block;
  }

  .project-under-left {
    width: 100%;
    margin-left: 0px;
  }

  .project-under-right {
    width: 100%;
    margin-left: 0px;
    margin-top: -60px;
  }

  .project-undeer-next {
    height: 158px;
    width: 100%;
    margin: 1rem 0rem 2rem 0rem;
  }

  .project-pic {
    height: 120px;
  }

  .project-text {
    height: 2rem;
    font-size: 12px;
    padding: 8px 0px;
  }

  /*************** contact section *****************/

  .contact {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px 0px 1.25rem 0px;
  }

  .contact-under {
    display: block;
  }

  .contact-under-left {
    width: 85%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 1.25rem;
  }

  .call {
    padding: 0px ;
  }

  .call-p {
    font-size: 0.6rem;
  }

  .contact-under-right {
    width: 85%;
    padding-left: 2rem;
    padding-right: 1.25rem;
    margin: 1.25rem 1.25rem 0px 1.25rem;
  }

}





/********** Responsive for max-width: 380px ***********/


@media only screen and (min-width:290px) and (max-width:380px) {

  .main {
    display: block;
  }

  /* side-navbar */

  .side-nav {
    height: 634px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px) saturate(150%);
    z-index: 999;
    transition: all .8s;
    margin-left: -400px;
  }

  .sub-icon {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
    padding: 0.25rem 0.3rem;

  }

  ul li {
    padding: 0.2rem 0.6rem;
  }

  .copyright {
    font-size: 0.75rem;
    padding-top: 1.25rem;
    margin-top: 0px;
  }

  .mobile-menu {
    margin-left: 0px;
  }

  /*************** mobile-nave  ****************/

  .mobile-nav {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: rgb(61, 144, 223);
    padding: 0.3rem 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    outline: none;
    color: white;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 999;
  }

  /**************** land page  ****************/

  .land-page {
    height: 500px;
    width: 100%;
  }

  .das {
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .design {
    font-size: 1rem;
    margin-left: 2rem;
    margin-top: 0px;
  }

    /**************** up-arrow ***************/

.up-arrow {
  height: 2.5rem;
  width: 2.5rem;
}

#arrow {
  font-size: 1.5rem;
  color: white;
  padding: 0.5rem;
}

  /*************** about section ***************/

  .about {
    width: 100%;
    margin-top: 550px;
    margin-left: 0px;
  }

  .samrat {
    padding: 0.6rem 1.25rem;
  }

  .leftpic {
    height: 24.6rem;
    width: 100%;
    margin: 0px;
  }

  .about-under {
    display: block;
  }

  .about-under-left {
    height: auto;
    width: fit-content;
  }

  .about-under-right {
    display: block;
    padding: 0px 1rem;

  }

  .about-under-right1 {
    padding-left: 0.6rem;
  }

  .about-under-right2 {
    margin: 2rem 0px;
  }

  .span-left {
    font-size: 1.1rem;
  }
  
  .span-right {
    font-size: 1.1rem;
  }
  
  .greater-than {
    height: 0.6rem;
    width: 0.6rem;
  }

  /*************** skill section  *****************/

  .skill {
    width: 100%;
    margin-left: 0px;
    padding: 2rem 0px;
  }

  .skill-under {
    display: block;
    padding: 0px;
  }

  .skill-under-next {
    padding: 0px 2.5rem;
  }

  .right-under-text {
    padding-top: 1.25rem;

  }

  /**************** resume section *******************/

  .resume {
    width: 100%;
    margin-left: 0px;
  }

  .resume-under {
    display: block;
  }

  .resume-under-left {
    width: 100%;
    margin-left: 0px;
  }

  .resume-under-right {
    width: 100%;
    margin-left: 0px;
  }

  .resume-under-next {
    padding: 1.25rem;
    margin-left: 0px;
  }

  .resume-text {
    text-align: center;
  }

  .resume-text-next {
    width: 100%;
    padding-left: 0.6rem;
    margin-left: 0px;
  }

  /*************** project section  *******************/

  .project {
    width: 100%;
    margin-left: 0px;
  }

  .project-under {
    display: block;
  }

  .project-under-left {
    width: 100%;
    margin-left: 0px;
  }

  .project-under-right {
    width: 100%;
    margin-left: 0px;
    margin-top: -60px;
  }

  .project-undeer-next {
    height: 247px;
    width: 100%;
    margin: 1rem 0rem 2rem 0rem;
  }

  .project-pic {
    height: 200px;
  }

  .project-text {
    height: 2.5rem;
    font-size: 14px;
    padding: 10px 0px;
  }


  /***************** contact section ****************/

  .contact {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px 0px 1.25rem 0px;
  }

  .contact-under {
    display: block;
  }

  .contact-under-left {
    width: 90%;
    margin: 1.25rem;
  }

  .call {
    padding: 0px ;
  }

  .call-p {
    font-size: 0.8rem;
  }

  .contact-under-right {
    width: 90%;
    margin: 1.25rem;
  }

}





/********** Responsive for max-width: 420px ***********/



@media only screen and (min-width:381px) and (max-width:420px) {

  .main {
    display: block;
  }

  /************* side-navbar **************/

  .side-nav {
    height: 634px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px) saturate(150%);
    z-index: 999;
    transition: all .8s;
    margin-left: -400px;
  }

  .sub-icon {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1rem;
    padding: 0.25rem 0.3rem;

  }

  ul li {
    padding: 0.2rem 0.6rem;
  }

  .copyright {
    font-size: 0.75rem;
    padding-top: 1.25rem;
    margin-top: 0px;
  }

  .mobile-menu {
    margin-left: 0px;
  }

  /****************** mobile-nave  ******************/

  .mobile-nav {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: rgb(61, 144, 223);
    padding: 0.3rem 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    outline: none;
    color: white;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 999;
  }

  /***************** land page  ****************/

  .land-page {
    height: 500px;
    width: 100%;
  }

  .das {
    font-size: 1.7rem;
    margin-left: 2rem;
    margin-top: 2rem;
  }

  .design {
    font-size: 1.1rem;
    margin-left: 2rem;
    margin-top: 0px;
  }

    /**************** up-arrow ***************/

.up-arrow {
  height: 2.5rem;
  width: 2.5rem;
}

#arrow {
  font-size: 1.5rem;
  color: white;
  padding: 0.5rem;
}

  /************* about section *****************/

  .about {
    width: 100%;
    margin-top: 550px;
    margin-left: 0px;
  }

  .samrat {
    padding: 0.6rem 1.25rem;
  }

  .leftpic {
    height: 27.2rem;
    width: 100%;
    margin: 0px;
  }

  .about-under {
    display: block;
  }

  .about-under-left {
    height: auto;
    width: fit-content;
  }

  .about-under-right {
    display: block;
    padding: 0px 0.6rem;

  }

  .about-under-right1 {
    padding-left: 1.25rem;
  }

  .about-under-right2 {
    margin: 2rem 0px;
  }

  .span-left {
    font-size: 1.1rem;
  }
  
  .span-right {
    font-size: 1.1rem;
  }
  
  .greater-than {
    height: 0.6rem;
    width: 0.6rem;
  }

  /*************** skill section  *******************/

  .skill {
    width: 100%;
    margin-left: 0px;
    padding: 2rem 0px;
  }

  .skill-under {
    display: block;
  }

  .skill-under-next {
    padding: 0px;
  }

  .right-under-text {
    padding-top: 1.25rem;

  }


  /*************** resume section ****************/

  .resume {
    width: 100%;
    margin-left: 0px;
  }

  .resume-under {
    display: block;
  }

  .resume-under-left {
    width: 100%;
    margin-left: 0px;
  }

  .resume-under-right {
    width: 100%;
    margin-left: 0px;
  }

  .resume-under-next {
    padding: 1.25rem;
    margin-left: 0px;
  }

  .resume-text {
    text-align: center;
  }

  .resume-text-next {
    width: 100%;
    padding-left: 0.6rem;
    margin-left: 0px;
  }


  
/*************** project section  *******************/

.project {
  width: 100%;
  margin-left: 0px;
}

.project-under {
  display: block;
}

.project-under-left {
  width: 100%;
  margin-left: 0px;
}

.project-under-right {
  width: 100%;
  margin-left: 0px;
  margin-top: -60px;
}

.project-undeer-next {
  height: 247px;
  width: 100%;
  margin: 1rem 0rem 2rem 0rem;
}

.project-pic {
  height: 200px;
}

.project-text {
  height: 2.5rem;
  font-size: 14px;
  padding: 10px 0px;
}


  /**************** contact section ******************/

  .contact {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px 0px 1.25rem 0px;
  }

  .contact-under {
    display: block;
  }

  .contact-under-left {
    width: 90%;
    margin: 1.25rem;
  }

  .call {
    padding: 0px ;
  }

  .call-p {
    font-size: 1rem;
  }

  .contact-under-right {
    width: 90%;
    margin: 1.25rem;
  }

}






/********** Responsive for max-width: 560px ***********/



@media only screen and (min-width:421px) and (max-width:560px) {

  .main {
    display: block;
  }

  /************** side-navbar *****************/

  .side-nav {
    height: 634px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px) saturate(150%);
    z-index: 999;
    transition: all .8s;
    margin-left: -400px;
  }

  .circle {
    margin-top: 1.25rem;
  }

  .name {
    padding-top: 1.25rem;
  }

  .next {
    margin-top: 0px;
  }

  .icon {
    margin: 1.25rem 1.25rem 0.6rem 1.25rem;
  }

  ul li {
    padding: 0.2rem 0.6rem;
  }

  .home {
    font-size: 1rem;
  }

  .copyright {
    font-size: 1rem;
    margin-top: 2rem;
  }


  .mobile-menu {
    margin-left: 0px;
  }

  /*************** mobile-nave  *******************/

  .mobile-nav {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: rgb(61, 144, 223);
    padding: 0.3rem 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    outline: none;
    color: white;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 999;
  }

  /**************** land page  ****************/

  .land-page {
    height: 550px;
    width: 100%;
  }

  .das {
    font-size: 2rem;
    margin-left: 2.25rem;
    margin-top: 2rem;
  }

  .design {
    font-size: 1.25rem;
    margin-left: 2.25rem;
    margin-top: 0px;
  }


  /**************** up-arrow ***************/

.up-arrow {
  height: 2.5rem;
  width: 2.5rem;
}

#arrow {
  font-size: 1.5rem;
  color: white;
  padding: 0.5rem;
}

  /*************** about section ****************/

  .about {
    width: 100%;
    margin-top: 600px;
    margin-left: 0px;
  }

  .samrat {
    padding: 0.6rem 1.25rem;
  }

  .leftpic {
    height: 36.2rem;
    width: 100%;
    margin: 0px;
  }

  .about-under {
    display: block;
  }

  .about-under-left {
    height: auto;
    width: fit-content;
  }

  .about-under-right {
    padding: 0px 1rem;

  }

  .about-under-right1 {
    width: 50%;
    padding: 2rem 0px 0px 0px;
  }

  .about-under-right2 {
    margin: 2rem 0rem;
  }

  .span-left {
    font-size: 0.9rem;
  }
  
  .span-right {
    font-size: 0.9rem;
  }
  
  .greater-than {
    height: 0.5rem;
    width: 0.5rem;
  }

  /**************** skill section  ***************/

  .skill {
    width: 100%;
    margin-left: 0px;
    padding: 2rem 0px;
  }

  .skill-under-next {
    padding: 0px 1.25rem;
  }

  .right-under-text {
    padding-top: 1.25rem;

  }

  /*************** resume section *********************/

  .resume {
    width: 100%;
    margin-left: 0px;
  }

  .resume-under-left {
    width: 50%;
    padding: 1.25rem 0px;
    margin-left: 1.5rem;
    margin-right: 0px;
  }

  .resume-under-right {
    width: 50%;
    padding: 1.25rem 0px;
    margin-left: 0px;
  }

  .resume-text-next {
    width: 90%;
    margin-left: 0px;
  }

  .resume-text {
    text-align: center;
    font-size: 1.5rem;
  }

  .qualification {
    font-size: 1.1rem;
  }

  .qualification-text {
    font-size: 0.9rem;
  }

   /***************** project section ************************/

   .project {
    width: 100%;
    margin-left: 0px;
  }

  .project-under-left {
    margin-left: 0.5rem;
    padding: 0.5rem;
  }

  .project-under-right {
    margin-right: 0.5rem;
    padding: 0.5rem;
  }

  .project-undeer-next {
    height: 155px;
    width: 100%;
    margin: 1rem 0rem 2rem 0rem;
  }

  .project-pic {
    height: 120px;
  }

  .project-text {
    height: 1.8rem;
    font-size: 12px;
    padding: 6px 0px;
  }



  /************* contact section *******************/

  .contact {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px 0px 1.25rem 0px;
  }

  .contact-under-left {
    width: 47%;
    margin-left: 0.8rem;
    margin-right: 0px;
    padding: 0px;
  }

  .call-under {
    height: 2rem;
    width: 2rem;
  } 

  .call-text {
    margin: 0rem;
  }

  #call-icon {
    font-size: 1rem;
    padding: 0.5rem;
  }
  
  .call-span {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .call-p {
    font-size: 0.7rem;
  }

  .contact-under-right {
    width: 45%;
    margin-left: 0px;
    padding: 3rem 1.25rem;
    margin-right: 0.8rem;
  }

}







/********** Responsive for max-width: 780px ***********/



@media only screen and (min-width:561px) and (max-width:780px) {

  .main {
    display: block;
  }

  /************** side-navbar *****************/

  .side-nav {
    height: 634px;
    width: 35%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px) saturate(150%);
    z-index: 999;
    transition: all .8s;
    margin-left: -400px;
  }

  .circle {
    margin-top: 1.25rem;
  }

  .name {
    padding-top: 1.25rem;
  }

  .next {
    margin-top: 0px;
  }

  .icon {
    margin: 1.25rem 1.25rem 0.6rem 1.25rem;
  }

  ul li {
    padding: 0.2rem 0.6rem;
  }

  .home {
    font-size: 1rem;
  }

  .copyright {
    font-size: 1rem;
    margin-top: 2rem;
  }


  .mobile-menu {
    margin-left: 0px;
  }

  /*************** mobile-nave  *******************/

  .mobile-nav {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgb(61, 144, 223);
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    outline: none;
    color: white;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 999;
  }

  /**************** land page  ****************/

  .land-page {
    height: 550px;
    width: 100%;
  }

  .das {
    font-size: 2.25rem;
    margin-left: 2.25rem;
    margin-top: 15.6rem;
  }

  .design {
    font-size: 1.5rem;
    margin-left: 2.25rem;
    margin-top: 0px;
  }

  /*************** about section ****************/

  .about {
    width: 100%;
    margin-top: 600px;
    margin-left: 0px;
  }

  .samrat {
    padding: 0.6rem 1.25rem;
  }

  .leftpic {
    height: 50.3rem;
    width: 100%;
    margin: 0px;
  }

  .about-under {
    display: block;
  }

  .about-under-left {
    height: auto;
    width: fit-content;
  }

  .about-under-right {
    padding: 0px 1rem;

  }

  .about-under-right1 {
    width: 50%;
    padding: 2rem 0px 0px 0px;
  }

  .about-under-right2 {
    margin: 2rem 0rem;
  }

  .span-left {
    font-size: 1rem;
  }
  
  .span-right {
    font-size: 1rem;
  }
  
  .greater-than {
    height: 0.6rem;
    width: 0.6rem;
  }

  /**************** skill section  ***************/

  .skill {
    width: 100%;
    margin-left: 0px;
    padding: 2rem 0px;
  }

  .skill-under-next {
    padding: 0px 1.25rem;
  }

  .right-under-text {
    padding-top: 1.25rem;

  }

  /*************** resume section *********************/

  .resume {
    width: 100%;
    margin-left: 0px;
  }

  .resume-under-left {
    width: 50%;
    padding: 1.25rem 0px;
    margin-left: 2.5rem;
    margin-right: 0px;
  }

  .resume-under-right {
    width: 50%;
    padding: 1.25rem 0px;
    margin-left: 0px;
  }

  .resume-text-next {
    width: 90%;
    margin-left: 0px;
  }

   /***************** project section ************************/

   .project {
    width: 100%;
    margin-left: 0px;
  }

  .project-undeer-next {
    height: 247px;
    width: 100%;
    margin: 1rem 0rem 2rem 0rem;
  }

  .project-pic {
    height: 200px;
  }

  .project-text {
    height: 2.5rem;
    font-size: 14px;
    padding: 10px 0px;
  }



  /************* contact section *******************/

  .contact {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px 0px 1.25rem 0px;
  }

  .contact-under-left {
    width: 45%;
    margin-left: 1.25rem;
    margin-right: 0px;
    padding: 0px;
  }

  .call-under {
    height: 2rem;
    width: 2rem;
  } 

  #call-icon {
    font-size: 1rem;
    padding: 0.5rem;
  }
  
  .call-span {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .call-p {
    font-size: 0.9rem;
  }

  .contact-under-right {
    width: 45%;
    margin-left: 0px;
    padding: 3rem 1.25rem;
    margin-right: 1.25rem;
  }

}





/********** Responsive for max-width: 830px ***********/


@media only screen and (min-width:781px) and (max-width:830px) {

  .main {
    display: block;
  }

  /******************* side-navbar ***************/

  .side-nav {
    height: 634px;
    width: 33%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px) saturate(150%);
    z-index: 999;
    transition: all .8s;
    margin-left: -400px;
  }

  .circle {
    margin-top: 1.25rem;
  }

  .name {
    padding-top: 1.25rem;
  }

  .next {
    margin-top: 0px;
  }

  .icon {
    margin: 1.25rem 1.25rem 0.6rem 1.25rem;
  }

  ul li {
    padding: 0.2rem 0.6rem;
  }

  .home {
    font-size: 1rem;
  }

  .copyright {
    font-size: 1rem;
    margin-top: 2rem;
  }


  .mobile-menu {
    margin-left: 0px;
  }

  /****************** mobile-nave  ******************/

  .mobile-nav {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgb(61, 144, 223);
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    outline: none;
    color: white;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 999;
  }

  /****************** land page  *************************/

  .land-page {
    height: 550px;
    width: 100%;
  }

  .das {
    font-size: 2.25rem;
    margin-left: 2.25rem;
    margin-top: 15.6rem;
  }

  .design {
    font-size: 1.5rem;
    margin-left: 2.25rem;
    margin-top: 0px;
  }


  /***************** about section *******************/

  .about {
    width: 100%;
    margin-top: 600px;
    margin-left: 0px;
  }

  .samrat {
    padding: 0.6rem 1.25rem;
  }

  .leftpic {
    height: 53.7rem;
    width: 100%;
    margin: 0px;
  }

  .about-under {
    display: block;
  }

  .about-under-left {
    height: auto;
    width: fit-content;
  }

  .about-under-right {
    padding: 0px 2.5rem;

  }

  .about-under-right1 {
    width: 50%;
    padding: 2rem 0px 0px 0px;
  }

  .about-under-right2 {
    margin: 2rem 0rem;
  }

  .span-left {
    font-size: 1.2rem;
  }
  
  .span-right {
    font-size: 1.2rem;
  }
  
  .greater-than {
    height: 0.8rem;
    width: 0.8rem;
  }


  /************ skill section  *****************/

  .skill {
    width: 100%;
    margin-left: 0px;
    padding: 2rem 0px;
  }

  .skill-under-next {
    padding: 0px 1.25rem;
  }

  .right-under-text {
    padding-top: 1.25rem;

  }

  /************** resume section *******************/

 .resume {
    width: 100%;
    margin-left: 0px;
  }

  .resume-under-left {
    width: 50%;
    padding: 1.25rem 0px;
    margin-left: 2.5rem;
    margin-right: 0px;
  }

  .resume-under-right {
    width: 50%;
    padding: 1.25rem 0px;
    margin-left: 0px;
  }

  .resume-text-next {
    width: 90%;
    margin-left: 0px;
  }

  /***************** project section ************************/

  .project {
    width: 100%;
    margin-left: 0px;
  }

  .project-undeer-next {
    height: 247px;
    width: 100%;
    margin: 1rem 0rem 2rem 0rem;
  }

  .project-pic {
    height: 200px;
  }

  .project-text {
    height: 2.5rem;
    font-size: 14px;
    padding: 10px 0px;
  }


  /***************** contact section *****************/

  .contact {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px 0px 1.25rem 0px;
  }

  .contact-under-left {
    width: 45%;
    margin-left: 1.25rem;
    margin-right: 0px;
    padding: 0px;
  }

  .call-under {
    height: 2.5rem;
    width: 2.5rem;
  } 

  #call-icon {
    font-size: 1.3rem;
    padding: 0.6rem;
  }
  
  .call-span {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .call-p {
    font-size: 1.1rem;
  }

  .contact-under-right {
    width: 45%;
    margin-left: 0px;
    padding: 3rem 1.25rem;
    margin-right: 1.25rem;
  }

}






/********** Responsive for max-width: 1024px ***********/


@media only screen and (min-width:830px) and (max-width:1024px) {

  .main {
    display: block;
  }

  /**************** side-navbar ***************/

  .side-nav {
    height: 846px;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px) saturate(150%);
    z-index: 999;
    transition: all .8s;
    margin-left: -400px;
  }

  .circle {
    margin-top: 3rem;
  }

  .name {
    padding-top: 2rem;
  }

  .next {
    margin-top: 0px;
  }

  .icon {
    margin: 2rem 1.25rem;
  }

  ul li {
    padding: 0.5rem 0.6rem;
  }

  .home {
    font-size: 1.5rem;
  }

  .copyright {
    font-size: 1.2rem;
    margin-top: 2.5rem;
  }


  .mobile-menu {
    margin-left: 0px;
  }

  /************** mobile-nave  ****************/

  .mobile-nav {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgb(61, 144, 223);
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    outline: none;
    color: white;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 999;
  }

  /************** land page  ****************/

  .land-page {
    height: 800px;
    width: 100%;
  }

  .das {
    font-size: 3rem;
    margin-top: 25rem;
    margin-left: 2.5rem;
  }


  .design {
    font-size: 2rem;
    margin-left: 2.5rem;
    margin-top: 0px;
  }


  /**************** about section ******************/

  .about {
    width: 100%;
    margin-top: 900px;
    margin-left: 0px;
  }

  .samrat {
    padding: 0.6rem 1.25rem;
  }

  .leftpic {
    height: 65.9rem;
    width: 100%;
    margin: 0px;
  }

  .about-under {
    display: block;
  }

  .about-under-left {
    height: auto;
    width: fit-content;
  }

  .about-under-right {
    padding: 0px 2.5rem;

  }

  .about-under-right1 {
    width: 50%;
    padding: 2rem 0px 0px 0px;
  }

  .about-under-right2 {
    margin: 2rem 0rem;
  }


  /***************** skill section  *****************/

  .skill {
    width: 100%;
    margin-left: 0px;
    padding: 2rem 0px;
  }

  .skill-under-next {
    padding: 0px 1.25rem;
  }

  .right-under-text {
    padding-top: 1.25rem;

  }

  /**************** resume section *****************/

  .resume {
    width: 100%;
    margin-left: 0px;
  }

  .resume-under-next {
    padding: 1.25rem;
  }

  /***************** project section ************************/

  .project {
    width: 100%;
    margin-left: 0px;
  }

  .project-undeer-next {
    height: 247px;
    width: 100%;
    margin: 1rem 0rem 2rem 0rem;
  }

  .project-pic {
    height: 200px;
  }

  .project-text {
    height: 2.5rem;
    font-size: 14px;
    padding: 10px 0px;
  }

  /******************** contact section *******************/

  .contact {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 0px;
  }

  .contact-under-left {
    width: 40%;
    margin-left: 1.25rem;
    margin-right: 0px;
    padding: 0px;
  }

  .contact-under-right {
    width: 50%;
    margin-left: 0px;
    padding: 3rem 1.25rem;
    margin-right: 1.25rem;
  }

}