*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  background-color: white;
}

.main {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/**************** side-navbar ********************/

.side-nav {
  height: 800px;
  width: 17%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
}

.circle {
  height: 9.5rem;
  width: 9.5rem;
  border: 0.5rem solid rgb(58, 58, 58);
  box-shadow: 0px 0px 0.6rem 0px white;
  border-radius: 50%;
  margin-top: 2rem;
  background: url("../assets/profilepic.jpeg") no-repeat center center/cover;
}

.name {
  font-size: 1.25rem;
  color: white;
  padding-top: 1.25rem;
}

.icon {
  height: auto;
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  
}

.sub-icon {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;  
  margin: 0.3rem 0.1rem;
  font-size: 1.25rem;
  padding: 0.3rem;
  background-color: rgb(44, 43, 43);
}

.sub-icon:hover {
  background-color: rgb(61, 144, 223);
}

.next {
  margin-top: 2rem;
}

ul {
  list-style: none; 
}

ul li {
  padding: 0.6rem;
}

.list {
  font-size: 1.3rem;
  color: rgb(146, 144, 144);
  text-decoration: none;
}

.home {
  font-size: 1rem;
}

.list:hover {
  color: white;
}

.copyright {
  height: auto;
  color: white;
  font-size: 1rem;
  text-align: center;
  padding: 0px 1.25rem;
  margin-top: 2.5rem;
}

/* mobile-nav  */

.mobile-nav {
  display: none;
}

/* land page */

.land-page {
  height: 800px;
  width: 83%;
  position: fixed;
  z-index: -999;
  top: 0;
  right: 0;
  background: url("../assets/background.jpg") no-repeat center center/cover;
  
}


.das{
  font-size: 3rem;
  color: white;
  font-weight: 600;
  margin-left: 7.5rem;
  margin-top: 18.75rem;
}

.design {
  font-size: 1.6rem;
  color: white;
  font-weight: 600;
  margin-left: 7.5rem;
  margin-top: 0.6rem;
}

/**************** up-arrow ***************/

.up-arrow {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: rgb(61, 144, 223);
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  display: none;
}

#arrow {
  font-size: 2rem;
  color: white;
  padding: 0.6rem;
}

.up-arrow:hover {
  background-color: rgb(83, 154, 221);
}

/**************** about section **************/

.about {
  height: auto;
  width: 83%;
  margin-top: 53.1rem;
  margin-left: 17%;
  padding-bottom: 2rem;
  background-color: white;
}

.head {
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(31, 31, 156);
  padding-left: 2.5rem;
  padding-top: 3rem;
}

.samrat {
  font-size: 1rem;
  padding: 1.25rem 5rem;
  line-height: 1.4;
  text-align: justify;
}

.about-under-left {
  z-index: 999999;
}

.leftpic {
  height: 18.75rem;
  width: 18.75rem;
  margin-left: 1.25rem;
  margin-top: 0.6rem;
}

.about-under {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about-under-left {
  height: auto;
  width: fit-content;
  animation-name: myAnime;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes myAnime {
  0% {
    left: -25rem;
  }

  100% {
    left: 0px;
  }
}

.about-under-right {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 2rem 2rem 2rem;
  z-index: 1;
}

.about-under-right1 {
  height: auto;
  width: 100%;
  padding: 0px 2rem;
}

.about-under-right2 {
  height: auto;
  width: 100%;
  margin: 3rem 0px;
}

.span-left {
  font-size: 1.25rem;
  padding-bottom: 0.6rem;
}

.span-right {
  font-size: 1.25rem;
  padding-bottom: 0.6rem;
}

.greater-than {
  height: 0.6rem;
  width: 0.6rem;
  border-right: 2px solid blue;
  border-bottom: 2px solid blue;
  transform: rotate(-45deg);
  display: inline-block;
  margin-right: 0.6rem;
}

.bx-chevrons-rightS {
  font-size: 2.25rem;
  padding-right: 1.25rem;
}


/************** skill section  *******************/

.skill {
  height: auto;
  width: 83%;
  margin-left: 17%;
  padding: 2rem 0px;
  background-color: rgb(214, 242, 253);
}

.skill-under {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 3rem;
}

.skill-under-next {
  height: auto;
  width: 100%;
  padding: 1.25rem;
}

.right-under-text {
  font-size: 0.9rem;
  font-weight: 600;
  font-family: sans-serif;
  padding-top: 2rem;
  
}

body > div.skill > div > div:nth-child(n) > div:nth-child(n) {
  height: 0.6rem;
  width: 100%;
  border-radius: 0.3rem;
  background-color: rgb(192, 191, 191);

}


/***************** resume section ************************/

.resume {
  height: auto;
  width: 83%;
  margin-left: 17%;
  padding: 2rem 0px;
  background-color: white;
}

.resume-under {
  display: flex;
  justify-content: space-between;
}

.resume-under-left {
  height: auto;
  width: 50%;
  padding: 1.25rem;
  margin-left: 50px;
}

.resume-under-right {
  height: auto;
  width: 50%;
  padding: 1.25rem;
  margin-left: 3rem;
}

.resume-text {
  font-size: 1.6rem;
}

.resume-text-next {
  width: 80%;
  height: fit-content;
  box-shadow: -5px 5px 0.6rem 0px rgb(145, 144, 144);
  margin-left: 3rem;
  margin-top: 2rem;
  transition: all .8s;
  padding-left: 1rem;
}

.qualification {
  font-size: 1.25rem;
  padding: 1.25rem 0.6rem 0.6rem 0.6rem;
}

.qualification-btn {
  height: 2rem;
  width: 7.5rem;
  padding: 3px 0.6rem;
  font-size: 1.1rem;
  color: white;
  background-color: rgb(127, 187, 244);
  border: none;
  margin-left: 0.6rem;
}

.qualification-text {
  padding: 0.6rem;
  text-align: justify;
}

.resume-text-next:hover {
  transform: scale(1.1);
}


/***************** project section ************************/

.project {
  height: auto;
  width: 83%;
  margin-left: 17%;
  background-color: rgb(238, 225, 252);
}

.project-under {
  display: flex;
  justify-content: space-between;
}

.project-under-left {
  height: auto;
  width: 50%;
  padding: 1.25rem;
  margin-left: 3rem;
}

.project-under-right {
  height: auto;
  width: 50%;
  padding: 1.25rem;
  margin-right: 3rem;
}

.project-undeer-next {
  height: 333px;
  width: 90%;
  background-color: white;
  margin: 1rem 3rem 4rem 3rem;
  box-shadow: 10px 10px 0.6rem 0px rgb(145, 144, 144);
}

.project-pic {
  height: 270px;
  width: 100%;
}

.view {
  display: flex;
  justify-content: space-between;
}

.project-text {
  height: 3.5rem;
  width: 50%;
  padding: 1rem 0rem;
  border-radius: 5px;
  background-color: blueviolet;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  margin: 0.2rem;
  text-align: center;
}

a {
  text-decoration: none;
}

.project-text:hover {
  color: yellow;
}



/******************* contact section *******************/

.contact {
  height: auto;
  width: 83%;
  margin-left: 17%;
  padding: 0px 0px 3rem 0px;
  background-color: white;
}

.contact-under {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contact-under-left {
  height: auto;
  width: 35%;
  margin: 1.25rem 3rem;
  padding: 1.25rem;
  background-color: white;
  box-shadow: 0px 0px 0.6rem 0px rgb(143, 143, 143);
}

.call {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0px 0px 0px ;
}

.call-under {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: rgb(225, 246, 252);
  margin: 0.6rem;
}

.call-text {
  margin: 0.6rem;
  width: 100%;
}

#call-icon {
  font-size: 1.5rem;
  color: rgb(61, 193, 223);
  padding: 0.8rem;
}

.call-span {
  font-size: 1.25rem;
  font-weight: 600;
}

.call-p {
  font-size: 1rem;
}

.contact-under-right {
  height: auto;
  width: 55%;
  margin: 1.25rem 3rem;
  padding: 3rem;
  background-color: white;
  box-shadow: 0px 0px 0.6rem 0px rgb(143, 143, 143);
}


.form-lable {
  font-size: 1rem;
  margin-bottom: 0.3rem;

}

.form-input {
  height: 2.5rem;
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 0.6rem;
  border: 1px solid gray;
}

#msg {
  height: 6rem;
  width: 100%;
}

textarea {
  border: 1px solid gray;
  padding: 0.6rem;
}

.form-input:focus {
  border: 1px solid blue;
  outline: none;
}

textarea:focus {
  border: 1px solid blue;
  outline: none;
}

.submit {
  height: 3rem;
  width: 9.5rem;
  font-size: 1rem;
  padding: 0.6rem;
  color: white;
  text-align: center;
  background-color: rgb(44, 104, 235);
  border: none;
  border-radius: 5px;
  margin-top: 2rem;
}

.submit:hover {
  color: white;
  background-color: rgb(61, 144, 223);
}


